/*  global rules */
* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  line-height: 1.5;
}

header,
section,
footer {
  width: 80%;
  margin: auto;
  padding: 80px 24px;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

img {
  width: 100%;
}

textarea {
  resize: none;
}

.clear {
  clear: both;
}

/* colors */
:root {
  --primary-color: #101828; /* h1 h2 btn-1 */
  --secondary-color: #4a5565; /* p btn-2 */
  --section-light-color: #f9fafb;
  --section-dark-color: #101828;
  /* more */
  --col-1: #dbeafe; /* card-1 */
  --col-2: #d0fae5; /* card-2 */
  --col-3: #f3e8ff; /* card-3 */
  --col-4: #eff6ff;
  --col-5: #ecfdf5;
  --col-6: #faf5ff;
  --col-7: #94b5fd; /* card1-border */
  --col-8: #93ffdb; /* card2-border */
  --col-9: #eacdff; /* card3-border */
  --col-10: #f1f5f9;
  --col-11: #d1d5dc; /* btn2-border */
}
/* -------------------------------------------------------- */

/* Hero Section */

.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content,
.header-image {
  width: 50%;
}
.header-content h1 {
  color: var(--primary-color);
  margin-bottom: 32px;
}
.header-content p {
  font-size: 20px;
  font-weight: 400;
  color: var(--secondary-color);
  margin-bottom: 32px;
}
.header-content .btn-1 {
  background-color: var(--primary-color);
  color: var(--col-6);
  border: none;
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 16px;
}
.header-content .btn-2 {
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid var(--col-11);
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.header-image img {
  width: 384px;
  margin: auto;
  display: block;
  border-radius: 16px;
}

/* Why Choose Us Section */

.Why-Choose-Us .container {
  text-align: center;
}
.Why-Choose-Us h2 {
  color: var(--primary-color);
  margin-bottom: 24px;
}
.Why-Choose-Us .content p {
  font-size: 20px;
  color: var(--secondary-color);
  margin-bottom: 64px;
}
.Why-Choose-Us .cards {
  margin-bottom: 64px;
}
.Why-Choose-Us .card {
  width: 31%;
  height: 288px;
  float: left;
  padding: 32px;
  text-align: center;
  border-radius: 16px;
}
.Why-Choose-Us .card:nth-child(1) {
  background-color: var(--col-1);
  border: 1px solid var(--col-7);
}
.Why-Choose-Us .card:nth-child(2) {
  background-color: var(--col-2);
  border: 1px solid var(--col-8);
  margin: 0 30px;
}
.Why-Choose-Us .card:nth-child(3) {
  background-color: var(--col-3);
  border: 1px solid var(--col-9);
}
.Why-Choose-Us .card .icon {
  width: 64px;
  margin: 0 auto 24px;
}
.Why-Choose-Us .card h3 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 16px;
}
.Why-Choose-Us .card p {
  font-size: 16px;
  color: var(--secondary-color);
}
.more-than-image {
  width: 45%;
  float: left;
}
.more-than-image img {
  border-radius: 16px;
}
.more-than-content {
  width: 50%;
  float: right;
  text-align: left;
}
.more-than-content h3 {
  font-size: 32px;
  color: var(--primary-color);
  margin-bottom: 24px;
}
.more-than-content h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 8px;
}
.more-than-content p {
  font-size: 16px;
  color: var(--secondary-color);
}
.more-than-content li {
  margin-bottom: 16px;
  border-left: 4px solid var(--primary-color);
  padding-left: 24px;
}

/* Our Members Section */

.our-members {
  width: 100%;
  background-color: var(--section-light-color);
}
.our-members .container {
  width: 80%;
  margin: auto;
  text-align: center;
}
.our-members h2 {
  color: var(--primary-color);
  margin-bottom: 24px;
}
.our-members .content p {
  font-size: 20px;
  color: var(--secondary-color);
  margin-bottom: 64px;
}
.our-members .cards {
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
}
.our-members .card {
  width: 31%;
  padding: 32px;
  text-align: center;
  border-radius: 16px;
}
.our-members .card .title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.our-members .card .title .userName {
  text-align: left;
  margin-left: 16px;
}
.our-members .card:nth-child(1) {
  background-color: var(--col-4);
  border: 1px solid var(--col-1);
}
.our-members .card:nth-child(2) {
  background-color: var(--col-5);
  border: 1px solid var(--col-8);
  margin: 0 30px;
}
.our-members .card:nth-child(3) {
  background-color: var(--col-6);
  border: 1px solid var(--col-9);
}
.our-members .card .icon {
  width: 64px;
}
.our-members .card img {
  border-radius: 50%;
}
.our-members .card h3 {
  font-size: 18px;
  color: var(--primary-color);
}
.our-members .card p {
  font-size: 16px;
  color: var(--secondary-color);
  text-align: left;
}
.our-members .number {
  padding: 48px 0;
  background-color: var(--col-10);
  border-radius: 16px;
  border: 1px solid var(--col-11);
}
.our-members .number ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.our-members .number p {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color);
}
.our-members .number span {
  color: var(--secondary-color);
}

/* Membership */

.membership .content {
  text-align: center;
  margin: 0 0 24px;
}
.membership .content h2 {
  color: var(--primary-color);
}
.membership .content p {
  font-size: 20px;
  color: var(--secondary-color);
}
.membership .container form {
  width: 75%;
  margin: auto;
  padding: 48px;
  border-radius: 16px;
  background-color: var(--section-light-color);
}
.membership .container form .fullName {
  display: flex;
  justify-content: space-between;
}
.membership .container form .first,
.membership .container form .last {
  width: 49%;
}
.membership .container form label {
  font-size: 18px;
  font-weight: 500;
}
.membership .container form input,
.membership .container form select,
.membership .container form textarea {
  width: 100%;
  padding: 16px 24px;
  border: 1px solid var(--col-11);
  border-radius: 8px;
  margin: 8px 0 24px;
  font-size: 18px;
}
::placeholder {
  font-size: 18px;
  color: #b5b8bc;
}
.membership .container form select,
.membership .container form textarea {
  margin-bottom: 24px;
  display: block;
}
.membership .container form button {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--col-6);
  border: none;
  margin-bottom: 24px;
  padding: 16px 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.membership .container form p {
  font-size: 14px;
  color: var(--secondary-color);
  text-align: center;
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--section-dark-color);
  color: #99a1af;
}
footer a {
  color: #99a1af;
}
footer li {
  margin-bottom: 16px;
}
footer .container {
  width: 80%;
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
}
footer .container .FitCore-content {
  width: 50%;
}
footer .container .FitCore-content h2 {
  color: var(--col-6);
  margin-bottom: 16px;
}
footer .container .FitCore-content p {
  font-size: 18px;
  margin-bottom: 24px;
}
footer .container .FitCore-content ul,
footer .End-content ul {
  display: flex;
}
footer .container .FitCore-content ul li:nth-child(2),
footer .End-content ul li:nth-child(2) {
  margin: 0 16px;
}
footer .container .Quick-Links-content {
  width: 25%;
}
footer .container .Quick-Links-content h2,
footer .container .Contact-Info-content h2 {
  font-size: 20px;
  color: var(--col-6);
  margin-bottom: 16px;
}
footer .container .Contact-Info-content {
  width: 25%;
}
footer .container .Contact-Info-content h3 {
  font-size: 16px;
  color: var(--col-6);
  margin-bottom: 8px;
}
footer .End-content {
  width: 80%;
  margin: auto;
  border-top: 1px solid var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
